<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>{{index}}</title>

</head>
<body>
<header>헤더</header>
    {{{body}}}




<gooter></gooter>
<script></script>



</body>
</html>