<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>{{index}}</title>
    {{{ _sections.css }}}       <!--_sections . (s를 붙여야한다.)를  생성하고 싶은 블럭 선택-->

</head>
<body>
{{> header}}                   <!--헤더 스크립트 를 가져옴-->

    {{{body}}}             <!--불러올 스크립트의 내용을 가져옴-->

{{> footer}}                  <!--푸터 스크립트 를 가져옴-->


{{{ _sections.script }}}



</body>
</html>